body {
    font-family: 'Nunito';
}
.negative {
    color: red;
}
.positive {
    color: limegreen;
}
.buttons {
    padding: 10px;
    display: inline-flex;
}
button {
    margin: 2px;
}
.scroll {
    height: 150px;
    overflow-y: auto;
}